.container{
    background-color: rgb(227, 227, 227);
    height: 100vh;
}

.wrapper{
    padding-top: 5rem;
    width: 60%;
    margin: 0 auto;
}
.wrapper h1{
    padding-bottom: 2rem;
}

ul li{
    border-bottom: 1px solid black;
    padding: 1rem 0;
}
.todo-list{
    padding: 0;
}
.new-todo{
    border-bottom: 5px solid black;
    padding: 1rem 0;
}
.line{
    text-decoration: line-through;
}